layout {
    pane size=1 {
        borderless true
        plugin location="file:~/dotfiles/config/zellij/plugins/zjstatus.wasm" {
            command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
            command_git_branch_format      "#[fg=blue] {stdout} "
            command_git_branch_interval    "10"
            command_git_branch_rendermode  "dynamic"

            datetime          "#[fg=#9399B2,bg=#181825] {format} "
            datetime_format   "%A, %d %b %Y %H:%M"
            datetime_timezone "America/Sao_Paulo"

            hide_frame_for_single_pane "false"
            mode_default_to_mode "normal"
            mode_enter_search  "#[bg=#89b4fa,fg=#181825] {name} "
            mode_locked        "#[bg=#991b1b,fg=#181825] {name} "
            mode_move          "#[bg=#155e75,fg=#181825] {name} "
            mode_normal        "#[bg=#89b4fa,fg=#181825] {name} "
            mode_normal        "#[bg=#89b4fa,fg=#181825] {name} "
            mode_pane          "#[bg=#c2410c,fg=#181825] {name} "
            mode_prompt        "#[bg=#89b4fa,fg=#181825] {name} "
            mode_rename_pane   "#[bg=#89b4fa,fg=#181825] {name} "
            mode_rename_tab    "#[bg=#89b4fa,fg=#181825] {name} "
            mode_resize        "#[bg=#065f46,fg=#181825] {name} "
            mode_scroll        "#[bg=#89b4fa,fg=#181825] {name} "
            mode_search        "#[bg=#89b4fa,fg=#181825] {name} "
            mode_session       "#[bg=#89b4fa,fg=#181825] {name} "
            mode_tab           "#[bg=#89b4fa,fg=#181825] {name} "
            mode_tmux          "#[bg=#ffc387,fg=#181825] {name} "

            tab_active               "#[fg=#9399B2,bg=#181825,bold,italic] {index} {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
            tab_floating_indicator   "󰉈 "
            tab_fullscreen_indicator "□ "
            tab_normal               "#[fg=#6C7086,bg=#181825] {index} {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
            tab_sync_indicator       "  "

            format_left  "{mode}#[fg=#89B4FA,bg=#181825,bold] {session} #[bg=#181825] {tabs}"
            format_right "#[fg=#89B4FA,bg=#181825]{command_git_branch}::{datetime}"
            format_space "#[bg=#181825]"
        }
    }
    pane {
        borderless true
        focus true
    }
}
