*.log
*.wasm
*.zwc
./.obsidian/workspace.json
./config/bat/syntaxes/
./lvim/session
./nix/result
./nvim/spell/
./tmp
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
.apdisk
.com.apple.timemachine.donotpresent
.fseventsd
.idea
/bin/*.zwc
/zsh/*.zwc
Icon
Network Trash Folder
Temporary Items
custom-nvim/bookmarks.db.json.backup
nix/result
nvim/LICENSE
nvim/README.md
nvim/bookmarks.db.json.backup
nvim/lazy-lock.json
passwords.txt
shortcuts.yml
node_modules/
/*/node_modules
