._*
Icon
./tmp
.idea
*.log
*.zwc
*.wasm
.apdisk
.AppleDB
.Trashes
.DS_Store
.fseventsd
/bin/*.zwc
/zsh/*.zwc
nix/result
.LSOverride
./nix/result
.AppleDouble
nvim/LICENSE
./nvim/spell/
.AppleDesktop
node_modules/
passwords.txt
shortcuts.yml
./lvim/session
nvim/README.md
.Spotlight-V100
.TemporaryItems
/*/node_modules
Temporary Items
./.pi-subagents/
.VolumeIcon.icns
nvim/lazy-lock.json
Network Trash Folder
./config/bat/syntaxes/
.DocumentRevisions-V100
./.obsidian/workspace.json
.pi/permissions.history.json
nvim/bookmarks.db.json.backup
.com.apple.timemachine.donotpresent
custom-nvim/bookmarks.db.json.backup
