.idea
shortcuts.yml
### OMG
passwords.txt

### OSX ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/zsh/*.zwc
/bin/*.zwc

# nvim
./nvim/spell/
nvim/lazy-lock.json
nvim/README.md
nvim/LICENSE
./lvim/session
./tmp
*.wasm
*.zwc
./config/bat/syntaxes/
