"" Find more examples here: https://jb.gg/share-ideavimrc
""""""""""""""""""""""""""""""""""" Plugins """"""""""""""""""""""""""""""""""""""
"" --- easymotion
set easymotion
let g:EasyMotion_do_mapping = 0
let g:EasyMotion_smartcase = 1

let mapleader=" "

"" -- Nerdtree
set NERDTree
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='l'

"" -- Surround
set surround

"""" argtextobj
set argtextobj
let g:argtextobj_pairs="(:),{:},<:>"

"" -- Multiple cursors
set multiple-cursors
nmap <C-n> <plug>NextWholeOccurrence
xmap <C-n> <plug>NextWholeOccurrence
nmap g<C-n> <plug>NextOccurrence
xmap g<C-n> <plug>NextOccurrence
xmap <C-x> <plug>SkipOccurrence
xmap <C-p> <plug>RemoveOccurrence

"" matchit.vim
set matchit

""" Horizontal movement
set sneak
set quickscope
let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']

"" vim-paragraph-motion
set vim-paragraph-motion

""" Yank + Clipboard
set highlightedyank
set clipboard=unnamedplus,unnamed,ideaput
set ideaput
nnoremap yy "+yy
vnoremap y "+y
nnoremap p "+p
vnoremap p "+p
nnoremap P "+P
vnoremap P "+P
vmap <leader>y "+y
vmap <leader>d "+d
nmap <leader>y "+yy
nmap <leader>p "+p
nmap <leader>P "+P
vmap <leader>p "+p
vmap <leader>P "+P

"" commentary
set commentary

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

""""""""""""""""""""""""""""" Vim config """"""""""""""""""""""""""""""""""""""""""""""""""""
set so=5
set nocompatible
set expandtab
set ignorecase
set incsearch
set number relativenumber
set showmode
set showcmd
set smartcase
set smartindent
set autoindent
set magic
set visualbell
set matchpairs
set nrformats
set encoding=utf-8
set spell
set hlsearch
set smarttab
set ttyfast
set cursorline
set cursorcolumn
set si
set laststatus=2
set title
set autoread
set shiftwidth=4
set tabstop=4
set sneak
set exchange
set viminfo
set copyindent
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

"" -- Idea things
set ideajoin
set ideamarks
set idearefactormode=keep
set ideastrictmode

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
vnoremap < <gv
vnoremap > >gv
map Q gq
map U <C-R>
map 0 ^

""""""""""""""""""""""""""""Leader Maps """"""""""""""""""""""""""""""""""""""""""""""""""""""
map <leader>j <action>(SurroundWithLiveTemplate)
nmap <leader>/ <action>(ShowErrorDescription)
nmap <leader><leader> <action>(ReformatCode)
nmap <leader>Q <action>(ReopenClosedTab)
nmap <leader>T <action>(ReopenClosedTab)
nmap <leader>e <action>(GotoNextError)
nmap <leader>f <Plug>(easymotion-f)
nmap <leader>g <action>(Git.Menu)
nmap <leader>o <action>(OptimizeImports)
nmap <leader>q <action>(CloseEditor)
nmap <leader>r <action>(RenameElement)
nmap <leader>s <Plug>(easymotion-s)
nmap <leader>t <action>(ActivateTerminalToolWindow)
nmap <leader>u <action>(FindUsages)
nmap <leader>w <action>(SaveAll)
nmap <leader>z <action>(ToggleDistractionFreeMode)

"" Split
nmap <leader>H <action>(SplitHorizontally)
nmap <leader>V <action>(SplitVertically)

"" Move Tabs
nmap <leader>k <action>(PreviousTab)
nmap <leader>h <action>(PreviousTab)
nmap <leader>a <action>(PreviousTab)
nmap <leader>j <action>(NextTab)
nmap <leader>l <action>(NextTab)
nmap <leader>d <action>(NextTab)

"""""""""""""""""""""""""""" Bookmarks """"""""""""""""""""""""""""""""""""""""""""""""""""""
nmap gb <Action>(ShowBookmarks)
nmap gm <Action>(ToggleBookmark)

""""""""""""""""""""""""""""Other keymaps """"""""""""""""""""""""""""""""""""""""""""""""""""""
nmap <S-Enter> O<Esc>
nmap gu <action>(ShowUsages)
nmap gU <action>(FindUsages)
nmap [[ <action>(MethodUp)
nmap ]] <action>(MethodDown)
vnoremap / :action Find<CR>
nnoremap / :action Find<CR>
nnoremap <C-t> :NERDTreeFocus<CR>

"" Don't yank
noremap ' "-

""""""""""""""""""""""""""""""""""""""""""""" Handler """""""""""""""""""""""""""""""""""""""
sethandler n:vim i:ide
sethandler <C-c> a:ide
sethandler <C-v> a:ide
sethandler <C-s> a:ide
