"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
""""" https://jb.gg/share-ideavimrc
let mapleader=" "
""""""""""""""""""""""""""""""""""""""""""""" Handlers """""""""""""""""""""""""""""""""""""""
sethandler n:vim i:vim
"""""""""""""""""""""""""""""""""""""""" Idea things """"""""""""""""""""""""""""""""""""""""
set ideajoin
set ideamarks
set idearefactormode=keep
set ideastrictmode

"""""""""""""""""""""""""""""""""""""""" easymotion """"""""""""""""""""""""""""""""""""""""
set easymotion

"""""""""""""""""""""""""""""""""""""""" Nerdtree """"""""""""""""""""""""""""""""""""""""
set NERDTree
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='l'
nnoremap <C-t> :NERDTreeFocus<CR>

"""""""""""""""""""""""""""""""""""""""" surround """"""""""""""""""""""""""""""""""""""""
set surround

"""""""""""""""""""""""""""""""""""""""" argtextobj """"""""""""""""""""""""""""""""""""""""
set argtextobj
let g:argtextobj_pairs="(:),{:},<:>"

"""""""""""""""""""""""""""""""""""""""" multiple cursors """"""""""""""""""""""""""""""""""""""""
set multiple-cursors
nmap <C-n> <plug>NextWholeOccurrence
xmap <C-n> <plug>NextWholeOccurrence
nmap g<C-n> <plug>NextOccurrence
xmap g<C-n> <plug>NextOccurrence
xmap <C-x> <plug>SkipOccurrence
xmap <C-p> <plug>RemoveOccurrence

"" matchit.vim
set matchit

"" vim-paragraph-motion
set vim-paragraph-motion

"""""""""""""""""""""""""""""""""""""""" Yank """"""""""""""""""""""""""""""""""""""""
set clipboard=unnamedplus,unnamed,ideaput
set highlightedyank
set ideaput
"" Don't yank
noremap ' "-
nnoremap yy "+yy
vnoremap y "+y
nnoremap p "+p
vnoremap p "+p
nnoremap P "+P
vnoremap P "+P
vmap <leader>y "+y
vmap <leader>d "+d
nmap <leader>y "+yy
nmap <leader>p "+p
nmap <leader>P "+P
vmap <leader>p "+p
vmap <leader>P "+P

"""""""""""""""""""""""""""""""""""""""""""""""""""" Commentary """"""""""""""""""""""""""""""""""""""""""""""""""""""""
set commentary
"""""""""""""""""""""""""""""""""""""""""""""""""""" Vim config """"""""""""""""""""""""""""""""""""""""""""""""""""""""
set undodir=~/.ideavim_tmp/undodir
set undofile
set ruler
set autoindent
set autoread
set copyindent
set cursorcolumn
set cursorline
set encoding=utf-8
set expandtab
set hlsearch
set ignorecase
set incsearch
set laststatus=2
set magic
set matchpairs
set nocompatible
set nrformats
set number relativenumber
set ruler
set shiftwidth=4
set cmdheight=2
set showcmd
set showmode
set si
set signcolumn=yes
set smartcase
set smartindent
set smarttab
set so=5
set spell
set tabstop=4
set title
set ttyfast
set viminfo
set visualbell
set whichwrap=b,s,<,>,h,l,[,]
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
vnoremap < <gv
vnoremap > >gv
map Q gq
map U <C-R>
map 0 ^
map gh ^
map gl $

"""" String manipulation plugin
vnoremap <leader>ss <action>(StringManipulation.Group.Main)
nmap <leader>ss <action>(StringManipulation.Group.Main)
map <leader>j <action>(SurroundWithLiveTemplate)
nmap <leader>/ <action>(ShowErrorDescription)
"""""""""""""""""""""""""""""""""""""""""""""" File Operations """""""""""""""""""""""""""""""""""""""""""""""""""""""""
map go <Action>(Switcher)
map gp <Action>(FileStructurePopup)
nmap <leader>1 <Action>(SelectInProjectView)
nmap <leader>P <action>(RecentProjectListGroup)
nmap <leader>T <action>(ReopenClosedTab)
nmap <leader>e <action>(GotoNextError)
nmap <leader>g <action>(Git.Menu)
nmap <leader>q <action>(CloseEditor)
nmap <leader>z <action>(ToggleDistractionFreeMode)
nmap gt <action>(Run)
nmap ; :

"" cursor back
nmap <leader>u <action>(Back)

"" Split
nmap <leader>- <action>(SplitHorizontally)
nmap <leader>\ <action>(SplitVertically)

"" Move Tabs
nmap <leader>k <action>(PreviousTab)
nmap <leader>h <action>(PreviousTab)
nmap <leader>a <action>(PreviousTab)
nmap <leader>j <action>(NextTab)
nmap <leader>l <action>(NextTab)
nmap <leader>d <action>(NextTab)

"""""""""""""""""""""""""""" Bookmarks """"""""""""""""""""""""""""""""""""""""""""""""""""""
nmap gb <Action>(ShowBookmarks)
nmap gm <Action>(ToggleBookmark)
nmap <leader>ma <Action>(ToggleBookmark)

"""""""""""""""""""""""""""" Other keymaps """"""""""""""""""""""""""""""""""""""""""""""""""""""
nmap <S-Enter> O<Esc>
nmap gu <action>(ShowUsages)
nmap gU <action>(FindUsages)
nmap [[ <action>(MethodUp)
nmap ]] <action>(MethodDown)
vnoremap / :action Find<CR>
nnoremap / :action Find<CR>

"""""""""""""""""""""""""""""""""""""""""""""""" Life quality """"""""""""""""""""""""""""""""""""""""""""""""
nnoremap vv V
nnoremap J mzJ`z
"""" Tabs
nnoremap <S-Tab> :action PreviousTab<CR>
nnoremap <Tab> :action NextTab<CR>
"""" New files
nnoremap <leader>nf :action NewFile<CR>

""""""""""""""""""""""""""""""""""""""""""""" Folding """""""""""""""""""""""""""""""""""""""
nnoremap zx :action CollapseRegion<CR>
nnoremap zo :action ExpandRegion<CR>

""""""""""""""""""""""""""""""""""""" Refactor Tools """"""""""""""""""""""""""""""""
nmap <leader>fm <action>(ReformatCode)
nmap <leader>ra <action>(RenameElement)
nmap <leader>fi <action>(OptimizeImports)
""" Breakpoint
map <leader>bb <Action>(ToggleLineBreakpoint)

""""""""""""""""""""""""""""""""""""" Leader+f? """"""""""""""""""""""""""""""""
nmap <leader>fd <action>(ShowIntentionActions)
nmap <leader>fa <action>(FindInPath)
nmap <leader>ff <action>(GotoFile)
nmap <leader>fr <action>(ReplaceInPath)
nmap <leader>fs <action>(GotoSymbol)
nmap <leader>fg <action>(AceDeclarationAction)

"""""""""""""""""""""""""" WhichKey """""""""""""""""""""""""""""""
let g:WhichKey_ShowVimActions = "true"
set which-key
" disable the timeout option
set notimeout
set timeoutlen=3000
