simplified_ui true
theme "mytheme"
default_layout "compact"
layout_dir "~/dotfiles/config/zellij/layouts/"
mouse_mode true
pane_frames false
mirror_session false
scroll_buffer_size 100000
copy_on_select true
scrollback_editor "nvim"
session_name "localhost"
attach_to_session true
session_serialization true
serialize_pane_viewport true
scrollback_lines_to_serialize 10000
styled_underlines true
support_kitty_keyboard_protocol true
show_startup_tips false

themes {
    mytheme {
        text_unselected {
            base 205 214 244
            background 24 24 37
            emphasis_0 194 65 12
            emphasis_1 14 116 144
            emphasis_2 137 180 250
            emphasis_3 159 18 57
        }
        text_selected {
            base 205 214 244
            background 17 17 27
            emphasis_0 194 65 12
            emphasis_1 14 116 144
            emphasis_2 137 180 250
            emphasis_3 159 18 57
        }
        ribbon_selected {
            base 24 24 37
            background 137 180 250
            emphasis_0 153 27 27
            emphasis_1 194 65 12
            emphasis_2 159 18 57
            emphasis_3 30 64 175
        }
        ribbon_unselected {
            base 24 24 37
            background 49 50 68
            emphasis_0 153 27 27
            emphasis_1 205 214 244
            emphasis_2 30 64 175
            emphasis_3 159 18 57
        }
        table_title {
            base 137 180 250
            background 0
            emphasis_0 194 65 12
            emphasis_1 14 116 144
            emphasis_2 137 180 250
            emphasis_3 159 18 57
        }
        table_cell_selected {
            base 205 214 244
            background 17 17 27
            emphasis_0 194 65 12
            emphasis_1 14 116 144
            emphasis_2 137 180 250
            emphasis_3 159 18 57
        }
        table_cell_unselected {
            base 205 214 244
            background 24 24 37
            emphasis_0 194 65 12
            emphasis_1 14 116 144
            emphasis_2 137 180 250
            emphasis_3 159 18 57
        }
        list_selected {
            base 205 214 244
            background 17 17 27
            emphasis_0 194 65 12
            emphasis_1 14 116 144
            emphasis_2 137 180 250
            emphasis_3 159 18 57
        }
        list_unselected {
            base 205 214 244
            background 24 24 37
            emphasis_0 194 65 12
            emphasis_1 14 116 144
            emphasis_2 137 180 250
            emphasis_3 159 18 57
        }
        frame_selected {
            base 137 180 250
            background 0
            emphasis_0 194 65 12
            emphasis_1 14 116 144
            emphasis_2 159 18 57
            emphasis_3 0
        }
        frame_highlight {
            base 194 65 12
            background 0
            emphasis_0 194 65 12
            emphasis_1 194 65 12
            emphasis_2 194 65 12
            emphasis_3 194 65 12
        }
        exit_code_success {
            base 137 180 250
            background 0
            emphasis_0 14 116 144
            emphasis_1 24 24 37
            emphasis_2 159 18 57
            emphasis_3 30 64 175
        }
        exit_code_error {
            base 153 27 27
            background 0
            emphasis_0 217 119 6
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        multiplayer_user_colors {
            player_1 159 18 57
            player_2 30 64 175
            player_3 0
            player_4 217 119 6
            player_5 14 116 144
            player_6 0
            player_7 153 27 27
            player_8 0
            player_9 0
            player_10 0
        }
    }
}

plugins {
    tab-bar location="zellij:tab-bar"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
    filepicker location="zellij:strider" {
        cwd "/"
    }
    configuration location="zellij:configuration"
    plugin-manager location="zellij:plugin-manager"
    about location="zellij:about"
}

load_plugins {}

keybinds clear-defaults=true {
    normal {
        bind "Alt ;" { EditScrollback; }
        bind "Alt b" {
            LaunchOrFocusPlugin "file:~/.config/zellij/plugins/zbuffers.wasm" {
                floating true
            }
            SwitchToMode "normal"
        }
        bind "Alt f" { ToggleFloatingPanes; SwitchToMode "normal"; }
        bind "Alt g" { ToggleFocusFullscreen; SwitchToMode "normal"; }
        bind "Alt h" { SwitchToMode "move"; }
        bind "Ctrl p" { SwitchToMode "tmux"; }
        bind "Alt q" { SwitchToMode "tmux"; }
        bind "Alt r" { SwitchToMode "resize"; }
        bind "Alt s" { SwitchToMode "search"; }
        bind "Alt y" {
            LaunchOrFocusPlugin "file:~/.config/zellij/plugins/room.wasm" {
                floating true
                ignore_case "true"
                quick_jump "true"
            }
        }
    }
    pane {
        bind "left" { MoveFocus "left"; }
        bind "down" { MoveFocus "down"; }
        bind "up" { MoveFocus "up"; }
        bind "right" { MoveFocus "right"; }
        bind "\\" { NewPane; SwitchToMode "normal"; }
        bind "c" { SwitchToMode "renamepane"; PaneNameInput 0; }
        bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "normal"; }
        bind "f" { ToggleFocusFullscreen; SwitchToMode "normal"; }
        bind "j" { MoveFocus "down"; }
        bind "k" { MoveFocus "up"; }
        bind "h" { MoveFocus "left"; }
        bind "l" { MoveFocus "right"; }
        bind "n" { NewPane; SwitchToMode "normal"; }
        bind "p" { SwitchFocus; }
        bind "Alt p" { SwitchToMode "normal"; }
        bind "w" { ToggleFloatingPanes; SwitchToMode "normal"; }
        bind "x" { CloseFocus; SwitchToMode "normal"; }
        bind "z" { TogglePaneFrames; SwitchToMode "normal"; }
    }
    tab {
        bind "left" { GoToPreviousTab; }
        bind "down" { GoToNextTab; }
        bind "up" { GoToPreviousTab; }
        bind "right" { GoToNextTab; }
        bind "[" { BreakPaneLeft; SwitchToMode "normal"; }
        bind "]" { BreakPaneRight; SwitchToMode "normal"; }
        bind "b" { BreakPane; SwitchToMode "normal"; }
        bind "h" { GoToPreviousTab; }
        bind "j" { GoToNextTab; }
        bind "k" { GoToPreviousTab; }
        bind "l" { GoToNextTab; }
        bind "n" { NewTab; SwitchToMode "normal"; }
        bind "r" { SwitchToMode "renametab"; TabNameInput 0; }
        bind "s" { ToggleActiveSyncTab; SwitchToMode "normal"; }
        bind "Ctrl t" { SwitchToMode "normal"; }
        bind "Alt t" { SwitchToMode "normal"; }
        bind "x" { CloseTab; SwitchToMode "normal"; }
    }
    resize {
        bind "left" { Resize "Increase left"; }
        bind "down" { Resize "Increase down"; }
        bind "up" { Resize "Increase up"; }
        bind "right" { Resize "Increase right"; }
        bind "+" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
        bind "=" { Resize "Increase"; }
        bind "H" { Resize "Decrease left"; }
        bind "J" { Resize "Decrease down"; }
        bind "K" { Resize "Decrease up"; }
        bind "L" { Resize "Decrease right"; }
        bind "h" { Resize "Increase left"; }
        bind "j" { Resize "Increase down"; }
        bind "k" { Resize "Increase up"; }
        bind "l" { Resize "Increase right"; }
        bind "Ctrl n" { SwitchToMode "normal"; }
        bind "Alt r" { SwitchToMode "normal"; }
    }
    move {
        bind "left" { MovePane "left"; }
        bind "down" { MovePane "down"; }
        bind "up" { MovePane "up"; }
        bind "right" { MovePane "right"; }
        bind "h" { MovePane "left"; }
        bind "Ctrl h" { SwitchToMode "normal"; }
        bind "j" { MovePane "down"; }
        bind "k" { MovePane "up"; }
        bind "l" { MovePane "right"; }
        bind "n" { MovePane; }
        bind "p" { MovePaneBackwards; }
        bind "tab" { MovePane; }
    }
    scroll {
        bind "e" { EditScrollback; SwitchToMode "normal"; }
        bind "s" { SwitchToMode "entersearch"; SearchInput 0; }
        bind "v" { EditScrollback; SwitchToMode "normal"; }
    }
    search {
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "n" { Search "down"; }
        bind "o" { SearchToggleOption "WholeWord"; }
        bind "p" { Search "up"; }
        bind "w" { SearchToggleOption "Wrap"; }
    }
    session {
        bind "d" { Detach; }
        bind "Ctrl o" { SwitchToMode "normal"; }
        bind "Ctrl s" { SwitchToMode "scroll"; }
        bind "w" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "normal"
        }
    }
    shared_except "locked" {
        bind "Alt left" { MoveFocusOrTab "left"; }
        bind "Alt down" { MoveFocus "down"; }
        bind "Alt up" { MoveFocus "up"; }
        bind "Alt right" { MoveFocusOrTab "right"; }
        bind "Alt +" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
        bind "Alt =" { Resize "Increase"; }
        bind "Alt i" { MoveTab "left"; }
        bind "Alt j" { MoveFocus "down"; }
        bind "Alt k" { MoveFocus "up"; }
        bind "Alt l" { MoveFocusOrTab "right"; }
        bind "Alt n" { NewPane; }
        bind "Alt o" { MoveTab "right"; }
        bind "Ctrl q" { Quit; }
        // bind "Alt ]" {
        //     LaunchOrFocusPlugin "file:~/dotfiles/config/zellij/plugins/zellij_forgot.wasm" {
        //         floating true
        //         LOAD_ZELLIJ_BINDINGS "true"
        //     }
        // }
    }
    shared_except "locked" "tab" {
        bind "Alt t" { SwitchToMode "tab"; }
    }
    shared_except "locked" "pane" {
        bind "Alt p" { SwitchToMode "pane"; }
    }
    shared_except "normal" "locked" {
        bind "Alt h" { MoveFocusOrTab "left"; }
    }
    shared_except "normal" "locked" "entersearch" {
        bind "enter" { SwitchToMode "normal"; }
    }
    shared_except "normal" "locked" "entersearch" "renametab" "renamepane" {
        bind "esc" { SwitchToMode "normal"; }
    }
    shared_except "normal" "locked" "scroll" {
        bind "Alt s" { SwitchToMode "scroll"; }
    }
    shared_among "tab" "tmux" {
        bind "1" { GoToTab 1; SwitchToMode "normal"; }
        bind "2" { GoToTab 2; SwitchToMode "normal"; }
        bind "3" { GoToTab 3; SwitchToMode "normal"; }
        bind "4" { GoToTab 4; SwitchToMode "normal"; }
        bind "5" { GoToTab 5; SwitchToMode "normal"; }
        bind "6" { GoToTab 6; SwitchToMode "normal"; }
        bind "7" { GoToTab 7; SwitchToMode "normal"; }
        bind "8" { GoToTab 8; SwitchToMode "normal"; }
        bind "9" { GoToTab 9; SwitchToMode "normal"; }
        bind "t" { NewTab; SwitchToMode "normal"; }
        bind "tab" { ToggleTab; }
    }
    shared_among "scroll" "search" {
        bind "PageDown" { PageScrollDown; }
        bind "PageUp" { PageScrollUp; }
        bind "left" { PageScrollUp; }
        bind "down" { ScrollDown; }
        bind "up" { ScrollUp; }
        bind "right" { PageScrollDown; }
        bind "Ctrl b" { PageScrollUp; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "normal"; }
        bind "d" { HalfPageScrollDown; }
        bind "Ctrl f" { PageScrollDown; }
        bind "h" { PageScrollUp; }
        bind "j" { ScrollDown; }
        bind "k" { ScrollUp; }
        bind "l" { PageScrollDown; }
        bind "Ctrl s" { SwitchToMode "normal"; }
        bind "u" { HalfPageScrollUp; }
    }
    entersearch {
        bind "Ctrl c" { SwitchToMode "scroll"; }
        bind "esc" { SwitchToMode "scroll"; }
        bind "enter" { SwitchToMode "search"; }
    }
    renametab {
        bind "esc" { UndoRenameTab; SwitchToMode "tab"; }
    }
    shared_among "renametab" "renamepane" {
        bind "Ctrl c" { SwitchToMode "normal"; }
    }
    renamepane {
        bind "esc" { UndoRenamePane; SwitchToMode "pane"; }
    }
    tmux {
        bind "," { SwitchToMode "renametab"; TabNameInput 0; }
        bind "-" { NewPane "down"; SwitchToMode "normal"; }
        bind "0" { SwitchToMode "pane"; }
        bind "[" { SwitchToMode "scroll"; }
        bind "h" { MoveFocus "left";SwitchToMode "normal"; }
        bind "l" { MoveFocus "right";SwitchToMode "normal"; }
        bind "\\" { NewPane "right"; SwitchToMode "normal"; }
        bind "f" { ToggleFloatingPanes; SwitchToMode "normal"; }
        bind "g" { ToggleFocusFullscreen; SwitchToMode "normal"; }
        bind "k" {
            SwitchToMode "normal"
            Run "zellij" "run" "--floating" "--y" "5%" "--x" "0" "--height" "100%" "--width" "100%" "--close-on-exit" "--" "zellij-sessionx-kill" {
                hold_on_close false
            }
        }
        bind "p" {
            SwitchToMode "normal"
            Run "zellij" "run" "--floating" "--y" "5%" "--x" "0" "--height" "100%" "--width" "100%" "--close-on-exit" "--" "zellij-sessionx" {
                hold_on_close false
            }
        }
        bind "r" { SwitchToMode "resize"; }
        bind "s" {
            SwitchToMode "normal"
            Run "zellij" "run" "--floating" "--y" "5%" "--x" "0" "--height" "100%" "--width" "100%" "--close-on-exit" "--" "zellij-sessionx" {
                hold_on_close false
            }
        }
    }
}

