layout {
    pane split_direction="vertical" {
        pane
    }

    pane size=1 borderless=true {
        plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
            format_left  "{mode} | #[fg=#eee,bg=#17171A][{session}]  {tabs}"
            format_right "#[fg=#eee,bg=#17171A]{datetime}"
            format_space "#[bg=#17171A]"

            hide_frame_for_single_pane "true"

            tab_normal   "{name}  "
            tab_active   "#[fg=#fff,bg=#1e1b4b,bold,italic]{name}* "

            datetime          " {format} "
            datetime_format   "%H:%M %d-%b-%y"
            datetime_timezone "America/Sao_Paulo"
        }
    }
}
