* {
  accent:           #767e8d;
  background:       #181c24F0;
  background-light: #181c2450;
  background-focus: #181c24;
  foreground:       #eeeeee;
  foreground-list:  #ffffff;
  on:               #44ad4d;
  off:              #e34039;
}
